<div class="container">
    <div class="starter-template">
        <p class="lead">Select from an amazing variety of styles and designs.</p>
    </div>
</div>

<div class="container">
    <div class="row row-centered">
        <carousel>
            <slide>
                <div class="slider-size">
                    <img src="assets/images/Aiden900x500.png" alt="Aiden">
                </div>
            </slide>
            <slide>
                <div class="slider-size">
                    <img src="assets/images/Candace900x500.png" alt="Candace">
                </div>
            </slide>
            <slide>
                <div class="slider-size">
                    <img src="assets/images/Chelsea900x500.png" alt="Chelsea">
                </div>
            </slide>
            <slide>
                <div class="slider-size">
                    <img src="assets/images/Elizabeth900x500.png" alt="Elizabeth">
                </div>
            </slide>
            <!--<slide>
        <img src="assets/images/Faye-Crop.png" alt="Faye">
    </slide>
    <slide>
        <img src="assets/images/Hunter-Crop.png" alt="Hunter">
    </slide>
    <slide>
        <img src="assets/images/Kay-Crop.png" alt="Kay">
    </slide>
    <slide>
        <img src="assets/images/Logan-Crop.png" alt="Logan">
    </slide>
    <slide>
        <img src="assets/images/Madison-Crop.png" alt="Madison">
    </slide>
    <slide>
        <img src="assets/images/Paige-Crop.png" alt="Paige">
    </slide>-->
        </carousel>
    </div>
</div>