<div class="container">
    <div class="starter-template">
        <p class="lead">Select from an amazing variety of styles and designs.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6col-sm-6 col-centered">

            <carousel>
                <slide>
                    <!--<div class="slider-size col-xs-6 col-centered">-->
                    <a routerLink="/floorplans/aiden">
                        <img src="assets/images/Aiden900x500.png" alt="Aiden">
                    </a>
                    <!--</div>-->
                </slide>
                <slide>
                    <!--<div class="slider-size col-xs-6 col-centered">-->
                    <img src="assets/images/Candace900x500.png" alt="Candace">
                    <!--</div>-->
                </slide>
                <slide>
                    <!--<div class="slider-size col-xs-6 col-centered">-->
                    <img src="assets/images/Chelsea900x500.png" alt="Chelsea">
                    <!--</div>-->
                </slide>
                <slide>
                    <!--<div class="slider-size col-xs-6 col-centered">-->
                    <img src="assets/images/Elizabeth900x500.png" alt="Elizabeth">
                    <!---->
                </slide>
            </carousel>
        </div>
    </div>
</div>