/* Mobile */


/*@media (max-width: 767px) {
    .slider-size {
        height: auto;
    }
    .slider-size>img {
        width: 80%;
    }
}




@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        height: auto;
    }
    .slider-size>img {
        width: 80%;
    }
}




@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
        height: 200px;
    }
    .slider-size>img {
        width: 80%;
    }
}*/

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}


/* desktops */

@media (min-width: 1024px) {
    .slider-size {
        height: 300px;
    }
    .slider-size>img {
        width: 60%;
    }
}